# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# devshells
/.editorconfig
/prek.toml
/treefmt.toml

# direnv
/.envrc
/.direnv

# emacs
*-autoloads.el
*-pkg.el
*.elc
/.dir-locals.el
/TAGS
/dist
/local

# nix
/repl-result-out
/result
/result-*

# .gitignore ends here
