# Relative links between independently built, single-file manuals.
tessera          mono tessera.html
tessera-x        mono tessera-x.html
gnus            node https://www.gnu.org/software/emacs/manual/html_node/gnus/
